<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Calendar</h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb breadcrumb-style float-md-right">
            <li class="breadcrumb-item 	bcrumb-1">
              <a href="#">
                <i class="material-icons">home</i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:void(0);">Apps</a>
            </li>
            <li class="breadcrumb-item active">Calendar</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Draggable</strong> Events</h2>
          </div>
          <div class="body">
            <div id='external-events'>
              <form class="inline-form">
                <input type="text" value="" class="form-control" placeholder="Event Title..." id="event_title" />
                <button type="button" id="event_add" class="btn btn-primary waves-effect m-t-15">Add Event</button>
              </form>
              <div id="event_box" class="mg-bottom-10"></div>
              <div class="form-check m-l-10">
                <label class="form-check-label">
                  <input class="form-check-input" id="drop-remove" type="checkbox" value="" checked> remove after drop
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Calendar</strong>
            </h2>
          </div>
          <div class="body">
            <div id='calendar'></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
