@import '_theme-color-variables';

.theme-red {

  .navbar {
    background-color: $theme-red;
  }

  .nav {
    >li {
      >a {
        color: $theme-red-nav-anchor;

        &:hover {
          background-color: $theme-red-nav-anchor_hover;
          text-decoration: none;
        }

        &:focus {
          background-color: $theme-red-nav-anchor_focus;
          text-decoration: none;
        }
      }
    }

  }

  .bars {
    color: $theme-red-bar;
  }

  .sidebar {
    .menu {
      .list {
        li {
          &.active {
            background-color: $theme-red-menu-list-active;

            > :first-child {

              i,
              span {
                color: $theme-red;
              }
            }
          }

          a {
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            i,
            span {
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
            }

            &:hover {
              color: $theme-red;

              i,
              span {
                color: $theme-red;
              }
            }
          }
        }

        .toggled {
          background-color: $theme-red-menu-list-toggled;
        }

        .ml-menu {
          background-color: $theme-red-menu-list-submenu;

          .active {
            a {
              font-weight: 700;
            }
          }
        }
      }
    }

    .legal {
      background-color: $theme-red-legal-bg;

      .copyright {
        a {
          color: $theme-red !important;
        }
      }
    }
  }

  /* breadcrumb style */
  .breadcrumb li a {
    color: $theme-red !important;
  }

  /* card header style */
  .card .header h2 strong {
    color: $theme-red !important;
  }

  /* table pagination style */
  .page-item.active .page-link {
    background-color: $theme-red;
    border-color: $theme-red;
    color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  }

  /* primary button */
  .btn-primary {
    background-color: $theme-red !important;
    color: #fff !important;
    margin: 2px;
    border-color: $theme-red !important;

    &:hover {
      background-color: $theme-red !important;
      color: #fff !important;
    }

    &:active {
      background-color: $theme-red !important;
      color: #fff !important;
    }

    &:focus {
      background-color: $theme-red !important;
      color: #fff !important;
    }

    &:disabled {
      background-color: $theme-red !important;
      color: #fff !important;
    }
  }

  .btn-outline-primary {
    background: 0 0 !important;
    color: $theme-red !important;
    border: 1px solid $theme-red !important;

    &:hover {
      background: $theme-red !important;
      color: #fff !important;
      border: 1px solid $theme-red !important;
    }
  }

  .timelineLabelColor strong {
    color: $theme-red !important;
  }

  .top-sidebar {
    .horizontal-menu {
      li {
        &.active {
          >a {
            color: $theme-red;
          }
        }

        a {
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          &:hover {
            color: $theme-red;
          }
        }
      }
    }
  }

  /* Tab selected color */
  .nav-tabs>li>a:before {
    border-bottom: 2px solid $theme-red;
  }
}

/*Logo Header Background Color*/
.logo-red {
  .navbar-header {
    background-color: $theme-red;
  }
}
