<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Basic Forms</h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb breadcrumb-style float-md-right">
            <li class="breadcrumb-item 	bcrumb-1">
              <a href="#">
                <i class="material-icons">home</i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="javascript:void(0);">Forms</a>
            </li>
            <li class="breadcrumb-item active">Basic Forms</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Input -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Input</strong> Elements</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <h2 class="card-inside-title">Basic Examples</h2>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Username" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-line">
                    <input type="password" class="form-control" placeholder="Password" />
                  </div>
                </div>
              </div>
            </div>

            <h2 class="card-inside-title">Different Widths</h2>
            <div class="row clearfix">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-6" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-6" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-4" />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-4" />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-4" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-3" />
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-3" />
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-3" />
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="col-sm-3" />
                  </div>
                </div>
              </div>
            </div>

            <h2 class="card-inside-title">Different Sizes</h2>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group form-group-lg">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Large Input" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Default Input" />
                  </div>
                </div>
                <div class="form-group form-group-sm">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="Small Input" />
                  </div>
                </div>
              </div>
            </div>

            <h2 class="card-inside-title">Floating Label Examples</h2>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group form-float">
                  <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">Username</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group form-float">
                  <div class="form-line">
                    <input type="password" class="form-control">
                    <label class="form-label">Password</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group form-float form-group-lg">
                  <div class="form-line">
                    <input type="text" class="form-control" />
                    <label class="form-label">Large Input</label>
                  </div>
                </div>
                <div class="form-group form-float">
                  <div class="form-line">
                    <input type="text" class="form-control" />
                    <label class="form-label">Default Input</label>
                  </div>
                </div>
                <div class="form-group form-float form-group-sm">
                  <div class="form-line">
                    <input type="text" class="form-control" />
                    <label class="form-label">Small Input</label>
                  </div>
                </div>
              </div>
            </div>

            <h2 class="card-inside-title">Input Status</h2>
            <div class="row clearfix">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line focused">
                    <input type="text" class="form-control" value="Focused" placeholder="Statu Focused" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="form-line disabled">
                    <input type="text" class="form-control" placeholder="Disabled" disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Input -->
    <!-- Textarea -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Textarea</strong>
            </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <h2 class="card-inside-title">Basic Example</h2>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                  </div>
                </div>
              </div>
            </div>

            <h2 class="card-inside-title">
              Auto Growing Vertical Direction
              <small>Taken from
                <a href="https://github.com/jackmoore/autosize/tree/master" target="_blank">github.com/jackmoore/autosize/tree/master</a>
              </small>
            </h2>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-line">
                    <textarea rows="1" class="form-control no-resize auto-growth" placeholder="Please type what you want... And please don't forget the ENTER key press multiple times :)"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Textarea -->
    <!-- Select -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Select</strong> Item</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-6">
                <select class="form-control show-tick">
                  <option value="">-- Please select --</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
              <div class="col-sm-6">
                <select class="form-control" disabled>
                  <option value="">Disabled</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Select -->
    <!-- Checkbox -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Checkbox</strong>
            </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <h2 class="card-inside-title">Basic Examples</h2>
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Purple
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <form action="#">
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" />
                      <span>Yellow</span>
                    </label>
                  </p>

                </form>
              </div>
              <div class="col-sm-6 col-lg-3">
                <form action="#">
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" checked="checked" />
                      <span>Filled in</span>
                    </label>
                  </p>
                </form>
              </div>
              <div class="col-sm-6 col-lg-3">
                <form action="#">
                  <p>
                    <label>
                      <input id="indeterminate-checkbox" type="checkbox" />
                      <span>Indeterminate Style</span>
                    </label>
                  </p>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <form action="#">
                  <p>
                    <label>
                      <input type="checkbox" checked="checked" disabled="disabled" />
                      <span>Green</span>
                    </label>
                  </p>
                </form>
              </div>
              <div class="col-sm-6 col-lg-3">
                <form action="#">
                  <p>
                    <label>
                      <input type="checkbox" disabled="disabled" />
                      <span>Brown</span>
                    </label>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Checkbox -->
    <!-- Radio -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Radio</strong>
            </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <h2 class="card-inside-title">Basic Examples</h2>
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="form-check form-check-radio">
                  <label>
                    <input name="group1" type="radio" />
                    <span>Radio is off</span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-check form-check-radio">
                  <label>
                    <input name="group1" type="radio" checked />
                    <span>Radio is on</span>
                  </label>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                <div class="form-check form-check-radio disabled">
                  <label>
                    <input name="group1" type="radio" disabled />
                    <span>Disabled radio</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="form-check form-check-radio disabled">
                  <label>
                    <input class="with-gap" name="group3" type="radio" checked />
                    <span>Radio With Gap</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Radio -->
    <!-- Switch Button -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Switch</strong> Button</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <h2 class="card-inside-title">Basic Examples</h2>
            <div class="demo-switch">
              <div class="switch">
                <label>OFF
                  <input type="checkbox" checked>
                  <span class="lever"></span>ON</label>
              </div>
              <div class="switch">
                <label>DISABLED
                  <input type="checkbox" disabled>
                  <span class="lever"></span>
                </label>
              </div>
            </div>

            <h2 class="card-inside-title">
              With Material Design Colors
              <small>You can use material design colors which examples are
                <code>.switch-col-pink, .switch-col-teal</code> class</small>
            </h2>
            <div class="demo-switch">
              <div class="row clearfix">
                <div class="col-sm-3">
                  <div class="demo-switch-title">RED</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-red"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">PINK</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-pink"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">PURPLE</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-purple"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">DEEP PURPLE</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-deep-purple"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">INDIGO</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-indigo"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">BLUE</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-blue"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">LIGHT BLUE</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-light-blue"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">CYAN</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-cyan"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">TEAL</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-teal"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">GREEN</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-green"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">LIGHT GREEN</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-light-green"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">LIME</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-lime"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">YELLOW</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-yellow"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">AMBER</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-amber"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">ORANGE</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-orange"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">DEEP ORANGE</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-deep-orange"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">BROWN</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-brown"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">GREY</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-grey"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">BLUE GREY</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-blue-grey"></span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="demo-switch-title">BLACK</div>
                  <div class="switch">
                    <label>
                      <input type="checkbox" checked>
                      <span class="lever switch-col-black"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#END# Switch Button -->
    <!--DateTime Picker -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Datetime</strong> Picker</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="datepicker form-control" placeholder="Please choose a date...">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="timepicker form-control" placeholder="Please choose a time...">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="datetimepicker form-control" placeholder="Please choose date & time...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#END# DateTime Picker -->
  </div>
</section>
