.ms-container {
  width: auto !important;

  .ms-list {
    @include box-shadow(none !important);
    @include border-radius(0 !important);
  }

  .ms-list.ms-focus {
    @include box-shadow(none !important);
  }

  .ms-selectable,
  .ms-selection {
    min-width: 250px !important;
    background: #353c48;

    li.ms-hover {
      color: #ffffff !important;
      background-color: #353c48 !important;
    }

    li.ms-elem-selectable,
    li.ms-elem-selection {
      padding: 9px 15px 6px 15px !important;
      border-bottom: 1px solid #494d54;
      color: #8d9ea7;
    }
  }

  .ms-optgroup-label {
    padding: 5px 0 0 8px !important;
  }
}
