<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Dashboard</h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb breadcrumb-style float-md-right">
            <li class="breadcrumb-item 	bcrumb-1">
              <a href="index.html">
                <i class="material-icons">home</i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Widgets -->
    <div class="row clearfix m-t-10">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-b-20">
        <div class="info-box-new info-box1">
          <div class="row">
            <div class="col-7">
              <h5 class="m-t-0">Traffic</h5>
              <p class="text-small">42% Increase</p>
            </div>
            <div class="col-5 text-right">
              <h2 class="">250</h2>
              <small class="info">per week</small>
            </div>
            <div class="col-12">
              <div class="progress m-t-20">
                <div class="progress-bar l-bg-green" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-b-20">
        <div class="info-box-new info-box2">
          <div class="row">
            <div class="col-7">
              <h5 class="m-t-0">Sales</h5>
              <p class="text-small">26% Increase</p>
            </div>
            <div class="col-5 text-right">
              <h2 class="">12%</h2>
              <small class="info">profit earn</small>
            </div>
            <div class="col-12">
              <div class="progress m-t-20">
                <div class="progress-bar l-bg-orange" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-b-20">
        <div class="info-box-new info-box3">
          <div class="row">
            <div class="col-7">
              <h5 class="m-t-0">New Client</h5>
              <p class="text-small">10% more</p>
            </div>
            <div class="col-5 text-right">
              <h2 class="">39</h2>
              <small class="info">of 234</small>
            </div>
            <div class="col-12">
              <div class="progress m-t-20">
                <div class="progress-bar l-bg-cyan" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width: 39%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 m-b-20">
        <div class="info-box-new info-box4">
          <div class="row">
            <div class="col-7">
              <h5 class="m-t-0">Online</h5>
              <p class="text-small">Online Users</p>
            </div>
            <div class="col-5 text-right">
              <h2 class="">124</h2>
              <small class="info">of 4533</small>
            </div>
            <div class="col-12">
              <div class="progress m-t-20">
                <div class="progress-bar l-bg-purple" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <!-- Sales Report -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Sales</strong> Report</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row text-center">
              <div class="col-sm-3 col-6">
                <h4 class="margin-0">$ 209
                  <i class="material-icons col-green">trending_up</i>
                </h4>
                <p class="text-muted"> Today's Sales</p>
              </div>
              <div class="col-sm-3 col-6">
                <h4 class="margin-0">$ 837
                  <i class="material-icons col-red">trending_down</i>
                </h4>
                <p class="text-muted">This Week's Sales</p>
              </div>
              <div class="col-sm-3 col-6">
                <h4 class="margin-0">$ 3410
                  <i class="material-icons col-green">trending_up</i>
                </h4>
                <p class="text-muted">This Month's Sales</p>
              </div>
              <div class="col-sm-3 col-6">
                <h4 class="margin-0">$ 78,000
                  <i class="material-icons col-green">trending_up</i>
                </h4>
                <p class="text-muted">This Year's Sales</p>
              </div>
            </div>
            <div id="area_line_chart" class="graph"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Sales Report -->
    <div class="row clearfix">
      <!-- Task Info -->
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Assign</strong> Task</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Manager</th>
                    <th>Progress</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user1.jpg" alt="">
                    </td>
                    <td>Task A</td>
                    <td>
                      <span class="label light-green shadow-style">Doing</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user2.jpg" alt="">
                    </td>
                    <td>Task B</td>
                    <td>
                      <span class="label l-bg-purple shadow-style">To Do</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-purple" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user3.jpg" alt="">
                    </td>
                    <td>Task C</td>
                    <td>
                      <span class="label l-bg-orange shadow-style">On Hold</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-orange" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user4.jpg" alt="">
                    </td>
                    <td>Task D</td>
                    <td>
                      <span class="label l-bg-cyan shadow-style">Wait Approvel</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-cyan" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user5.jpg" alt="">
                    </td>
                    <td>Task E</td>
                    <td>
                      <span class="label light-green shadow-style">Suspended</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-green" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user1.jpg" alt="">
                    </td>
                    <td>Task A</td>
                    <td>
                      <span class="label light-green shadow-style">Doing</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-green" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-img">
                      <img src="assets/images/user/user2.jpg" alt="">
                    </td>
                    <td>Task B</td>
                    <td>
                      <span class="label l-bg-purple shadow-style">To Do</span>
                    </td>
                    <td>John Doe</td>
                    <td>
                      <div class="progress shadow-style">
                        <div class="progress-bar l-bg-purple" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Task Info -->
      <!-- Browser Usage -->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Browser</strong> Usage</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div id="donut_chart" class="dashboard-donut-chart"></div>
            <table class="table m-t-15 m-b-0">
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Chrome</td>
                  <td>6985</td>
                  <td>
                    <i class="material-icons col-green">trending_up</i>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Safari</td>
                  <td>3597</td>
                  <td>
                    <i class="material-icons col-red">trending_down</i>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Firefox</td>
                  <td>2145</td>
                  <td>
                    <i class="material-icons col-green">trending_up</i>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Other</td>
                  <td>2697</td>
                  <td>
                    <i class="material-icons col-green">trending_up</i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- #END# Browser Usage -->
    </div>
    <div class="row clearfix">
      <!-- Activity -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>Activity</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="assign-style">
              <ul class="feedBody">
                <li class="active-feed">
                  <div class="feed-user-img">
                    <img src="assets/images/user/user1.jpg" class="img-radius " alt="User-Profile-Image">
                  </div>
                  <h6>
                    <span class="feedLblStyle lblFileStyle">File</span> Sarah Smith
                    <small class="text-muted">6 hours ago</small>
                  </h6>
                  <p class="m-b-15 m-t-15">
                    hii John, I have upload doc related to task.
                  </p>

                </li>
                <li class="diactive-feed">
                  <div class="feed-user-img">
                    <img src="assets/images/user/user2.jpg" class="img-radius " alt="User-Profile-Image">
                  </div>
                  <h6>
                    <span class="feedLblStyle lblTaskStyle">Task </span> Jalpa Joshi
                    <small class="text-muted">5 hours ago
                    </small>
                  </h6>
                  <p class="m-b-15 m-t-15">
                    Please do as specify. Let me know if you have any query.
                  </p>
                </li>
                <li class="diactive-feed">
                  <div class="feed-user-img">
                    <img src="assets/images/user/user3.jpg" class="img-radius " alt="User-Profile-Image">
                  </div>
                  <h6>
                    <span class="feedLblStyle lblCommentStyle">comment</span> Lina Smith
                    <small class="text-muted">6 hours ago</small>
                  </h6>
                  <p class="m-b-15 m-t-15">
                    Hey, How are you??
                  </p>
                </li>
                <li class="active-feed">
                  <div class="feed-user-img">
                    <img src="assets/images/user/user4.jpg" class="img-radius " alt="User-Profile-Image">
                  </div>
                  <h6>
                    <span class="feedLblStyle lblReplyStyle">Reply</span> Jacob Ryan
                    <small class="text-muted">7 hours ago</small>
                  </h6>
                  <p class="m-b-15 m-t-15">
                    I am fine. You??
                  </p>
                </li>
                <li class="active-feed">
                  <div class="feed-user-img">
                    <img src="assets/images/user/user5.jpg" class="img-radius " alt="User-Profile-Image">
                  </div>
                  <h6>
                    <span class="feedLblStyle lblFileStyle">File</span> Sarah Smith
                    <small class="text-muted">6 hours ago</small>
                  </h6>
                  <p class="m-b-15 m-t-15">
                    hii John, I have upload doc related to task.
                  </p>

                </li>
                <li class="diactive-feed">
                  <div class="feed-user-img">
                    <img src="assets/images/user/user6.jpg" class="img-radius " alt="User-Profile-Image">
                  </div>
                  <h6>
                    <span class="feedLblStyle lblTaskStyle">Task </span> Jalpa Joshi
                    <small class="text-muted">5 hours ago
                    </small>
                  </h6>
                  <p class="m-b-15 m-t-15">
                    Please do as specify. Let me know if you have any query.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Activity -->
      <!-- TODO List -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Todo</strong> List</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <ul class="to-do-list ui-sortable" id="sortable-todo">
              <li class="clearfix">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Add salary details in system
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="todo-actionlist pull-right clearfix">
                  <a href="#" class="todo-remove">
                    <i class="material-icons">clear</i>
                  </a>
                </div>
              </li>
              <li class="clearfix">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Announcement for holiday
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="todo-actionlist pull-right clearfix">
                  <a href="#" class="todo-remove">
                    <i class="material-icons">clear</i>
                  </a>
                </div>
              </li>
              <li class="clearfix">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> call bus driver
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="todo-actionlist pull-right clearfix">
                  <a href="#" class="todo-remove">
                    <i class="material-icons">clear</i>
                  </a>
                </div>
              </li>
              <li class="clearfix">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Office picnic
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="todo-actionlist pull-right clearfix">
                  <a href="#" class="todo-remove">
                    <i class="material-icons">clear</i>
                  </a>
                </div>
              </li>
              <li class="clearfix">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Add salary details in system
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="todo-actionlist pull-right clearfix">
                  <a href="#" class="todo-remove">
                    <i class="material-icons">clear</i>
                  </a>
                </div>
              </li>
              <li class="clearfix">
                <div class="form-check m-l-10">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Announcement for holiday
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="todo-actionlist pull-right clearfix">
                  <a href="#" class="todo-remove">
                    <i class="material-icons">clear</i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- #END# TODO List -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Recent</strong> Activities</h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="sl-item sl-primary">
              <div class="sl-content">
                <small class="text-muted">
                  <i class="fa fa-user position-left"></i> 5 mins ago</small>
                <p>Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</p>
              </div>
            </div>
            <div class="sl-item sl-danger">
              <div class="sl-content">
                <small class="text-muted">
                  <i class="fa fa-user position-left"></i> 8 mins ago</small>
                <p>Lorem ipsum dolor sit ametcon the sectetur that ascing elit users.</p>
              </div>
            </div>
            <div class="sl-item sl-success">
              <div class="sl-content">
                <small class="text-muted">
                  <i class="fa fa-user position-left"></i> 10 mins ago</small>
                <p>Lorem ipsum dolor sit amet cons the ecte tur and adip ascing elit users.</p>
              </div>
            </div>
            <div class="sl-item sl-warning">
              <div class="sl-content">
                <small class="text-muted">
                  <i class="fa fa-user position-left"></i> 12 mins ago</small>
                <p>Lorem ipsum dolor sit amet consec tetur adip ascing elit users.</p>
              </div>
            </div>
            <div class="sl-item sl-primary">
              <div class="sl-content">
                <small class="text-muted">
                  <i class="fa fa-user position-left"></i> 5 mins ago</small>
                <p>Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="chat">
            <div class="chat-header clearfix">
              <img src="assets/images/user/user2.jpg" alt="avatar">
              <div class="chat-about">
                <div class="chat-with">Aiden Chavez</div>
                <div class="chat-num-messages">2 new messages</div>
              </div>
            </div>
            <div class="chat-history" id="chat-conversation">
              <ul>
                <li class="clearfix">
                  <div class="message-data text-right">
                    <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                    <span class="message-data-name">Michael</span>
                    <i class="zmdi zmdi-circle me"></i>
                  </div>
                  <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                </li>
                <li>
                  <div class="message-data">
                    <span class="message-data-name">
                      <i class="zmdi zmdi-circle online"></i> Aiden</span>
                    <span class="message-data-time">10:12 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    <p>Are we meeting today? Project has been already finished and I have results to show you.</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="message-data">
                    <span class="message-data-name">
                      <i class="zmdi zmdi-circle online"></i> Aiden</span>
                    <span class="message-data-time">10:12 AM, Today</span>
                  </div>
                  <div class="message my-message">
                    <p>Are we meeting today? Project has been already finished and I have results to show you.</p>
                    <div class="row">
                    </div>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="message-data text-right">
                    <span class="message-data-time">10:10 AM, Today</span> &nbsp; &nbsp;
                    <span class="message-data-name">Michael</span>
                    <i class="zmdi zmdi-circle me"></i>
                  </div>
                  <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                </li>
              </ul>
            </div>
            <div class="chat-message clearfix">
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Enter text here.." />
                </div>
              </div>
              <div class="chat-upload">
                <a href="#">
                  <i class="material-icons">attach_file</i>
                </a>
                <a href="#">
                  <i class="material-icons">insert_emoticon</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-6">
                <h2>
                  <strong>Annual</strong> Sales Report</h2>
              </div>
            </div>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a href="javascript:void(0);">Action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Another action</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div id="worldMap2" style="width: 100%; height: 390px; overflow: hidden;"></div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="progress-list">
                  <div class="details">
                    <div class="title">USA</div>
                  </div>
                  <div class="status">
                    <span>40</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                      style="width: 40%">
                      <span class="sr-only">40%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-list">
                  <div class="details">
                    <div class="title">Canada</div>
                  </div>
                  <div class="status">
                    <span>38</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"
                      style="width: 31%">
                      <span class="sr-only">38%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-list">
                  <div class="details">
                    <div class="title">Asia</div>
                  </div>
                  <div class="status">
                    <span>12</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-lightred" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"
                      style="width: 22%">
                      <span class="sr-only">12%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-list">
                  <div class="details">
                    <div class="title">Germany</div>
                  </div>
                  <div class="status">
                    <span>49</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100"
                      style="width: 49%">
                      <span class="sr-only">49%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-list">
                  <div class="details">
                    <div class="title">France</div>
                  </div>
                  <div class="status">
                    <span>65</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                      <span class="sr-only">65%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-list">
                  <div class="details">
                    <div class="title">India</div>
                  </div>
                  <div class="status">
                    <span>28</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"
                      style="width: 28%">
                      <span class="sr-only">28%</span>
                    </div>
                  </div>
                </div>
                <div class="progress-list">
                  <div class="details">
                    <div class="title">Other</div>
                  </div>
                  <div class="status">
                    <span>16</span>% </div>
                  <div class="progress-xs not-rounded progress">
                    <div class="progress-bar progress-bar-hotpink" role="progressbar" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"
                      style="width: 16%">
                      <span class="sr-only">16%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
